<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>webpack Vue Example</title>
  </head>

  <body>
    <!--vue-->
    <!-- 双向绑定 -->
    <div id="demo1">
      <h3>{{ message }}</h3>
      <input v-model="message">
    </div>

    <!-- list -->
    <div id="demo2">
      <ul>
        <li v-for="msg in msgs">
          {{ msg.text }}
        </li>
      </ul>
    </div>

    <!-- click事件 -->
    <div id="demo3">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="todoMVC">
      <input v-model="newTodo" v-on:keyup.enter="addTodo()">
      <ul>
        <li v-for="todo in todos">
          <span>{{todo.msg}}</span>
          <button v-on:click="removeTodo($index)">X</button>
        </li>
      </ul>
    </div>


    <app></app>
    <script src="dist/build.js"></script>
  </body>
</html>